# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore environment variables file
.env

# Ignore database files
db.sqlite3
*.db
*.sqlite3
*.sqlite
*.db-journal
*.sqlite-journal

