# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore environment variables file
.env

# excluir archivos de configuración de IDEs
.vscode/
.idea/

# Ignore database files
db.sqlite3
*.db
*.sqlite3
*.sqlite
*.db-journal
*.sqlite-journal

# ignore media and static files
media/
staticfiles/