{% extends "base/base.html" %}

{% block title %}Tests - Auto Escuela{% endblock %}

{% block content %}
<style>
    .menu-button {
        width: 100%;
        height: 100px;
        font-size: 1.8rem;
    }
    .bg-aprobado { background-color: #28a745; }     /* verde */
    .bg-reprobado { background-color: #dc3545; }     /* rojo */
    .bg-parcial   { background-color: #ffc107; }     /* amarillo */
    .bg-no-disponible { background-color: #6c757d; } /* gris */
</style>

<div class="container">

    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2 text-md-end">

            <!-- Botón normal para pantallas medianas en adelante -->
            <div class="d-none d-md-inline">
                <a href="{% url 'home:home' %}" class="btn btn-outline-secondary">Volver al Menú</a>
            </div>

            <!-- Menú tipo hamburger para pantallas pequeñas -->
            <div class="dropdown d-md-none text-end">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="menuBotonPequeno" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuBotonPequeno">
                    <li><a class="dropdown-item" href="{% url 'home:home' %}">Volver al Menú</a></li>
                </ul>
            </div>

        </div>
    </div>

    <h1 class="text-center display-3 mb-5">Tests</h1>

    <div class="row g-3">

        {% for test in tests %}
        <div class="col-12 col-md-3">
            <a href="{% url 'tests:pregunta_view' test.name 0 %}#titulotest" class="btn 
                {% if test.estado == 'aprobado' %}
                    btn-primary bg-aprobado 
                {% elif test.estado == 'desaprobado' %}
                    btn-danger bg-reprobado
                {% elif test.estado == 'incompleto' %}
                    btn-warning bg-parcial
                {% elif test.estado == 'no_disponible' %}
                    btn-secondary bg-no-disponible disabled
                {% else %}
                    btn-secondary
                {% endif %} 
            menu-button">{{ test.name }}</a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}